In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/learn-co-students/nyc-mhtn-ds-042219-lectures/master/Module_4/cleaned_titanic.csv', index_col='PassengerId')

In [3]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,youngin,male,Q,S
PassengerId,,,,,,,,,,
1,0,3,22.0,1,0,7.2500,0,1,0,1
2,1,1,38.0,1,0,71.2833,0,0,0,0
3,1,3,26.0,0,0,7.9250,0,0,0,1
4,1,1,35.0,1,0,53.1000,0,0,0,1
5,0,3,35.0,0,0,8.0500,0,1,0,1

In [4]:
y = data['Survived']
X = data.drop('Survived',axis=1)
print(X.head())

             Pclass   Age  SibSp  Parch     Fare  youngin  male  Q  S
PassengerId
1                 3  22.0      1      0   7.2500        0     1  0  1
2                 1  38.0      1      0  71.2833        0     0  0  0
3                 3  26.0      0      0   7.9250        0     0  0  1
4                 1  35.0      1      0  53.1000        0     0  0  1
5                 3  35.0      0      0   8.0500        0     1  0  1

In [5]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)

scaler = StandardScaler()
scale = scaler.fit(X_train)
X_train = scale.transform(X_train)
X_test = scale.transform(X_test)

In [6]:
model = LogisticRegression()
model.fit(X_train,y_train)
pred = model.predict(X_test)

In [7]:
score = accuracy_score(y_test,pred)
score

0.797752808988764

In [8]:
confusion_matrix(y_test,pred)

array([[88, 21],
       [15, 54]])

In [9]:
tn,fp,fn,tp = confusion_matrix(y_test,pred).ravel()
(tn,fp,fn,tp)

(88, 21, 15, 54)

In [11]:
matrix = classification_report(y_test,pred)
print('Classification report : \n',matrix)

Classification report :
               precision    recall  f1-score   support

           0       0.85      0.81      0.83       109
           1       0.72      0.78      0.75        69

    accuracy                           0.80       178
   macro avg       0.79      0.79      0.79       178
weighted avg       0.80      0.80      0.80       178